html {
	text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

html, body {
	background-color: #6B7B8D;
	color: #FFFFFF;
	font-family: "Trebuchet MS", sans-serif;
}

a {
	color: #EEEEEE;
}

a:hover {
	color: #AFB9C5;
}

.reflink a:hover {
	color: #AFB9C5;
}

.adminbar {
	background: inherit;
}

.logo {
	background: inherit;
	font-size: 2em;
}

.replymode, .catalogmode {
	background: #0010E0;
	width: 100%;
	padding: 2px;
	background-color: #49525D;
	text-align: center;
	font-weight: bold;
}

.postarea {
	padding-top: 4px;
	padding-bottom: 4px;
	margin-bottom: 4px;
}

.rules {
	width: 468px;
	font-size: 10px;
}

.postblock {
	background: #8C9FB4;
	color: #49525D;
	font-weight: 800;
}

.footer {
	text-align: center;
	font-size: 12px;
	font-family: serif;
}

.passvalid {
	background: #EEAA88;
	text-align: center;
	width: 100%;
	color: #ffffff;
}

.dellist {
	font-weight: bold;
}

.delbuttons {
	text-align: center;
	padding-bottom: 4px;
}

.managehead {
	background: #AAAA66;
	color: #400000;
}

.postlists {
	color: #800000;
}

.row1 {
	background: #EEEECC;
	color: #090E00;
}

.row2 {
	background: #DDDDAA;
	color: #090E00;
}

.unkfunc {
	color: #b5bd68;
}

.filetitle {
	color: #C3E8F3;
	font-weight: 800;
	font-size: 1.2em;
}

.postername {
	color: #FFFFFF;
	font-weight: 800;
}

.postertrip {
	color: #228854;
}

.oldpost {
	color: #CC1105;
	font-weight: 800;
}

.omittedposts {
	color: #070707;
	font-weight: 800;
}

.reply {
	background-color: #49525D;
	border-radius: 5px;
}

.replyhl {
	background: #49525D;
	color: #FFFFFF;
}

.doubledash {
	vertical-align: top;
	clear: both;
	float: left;
}

.replytitle {
	color: #908CE1;
	font-weight: 800;
}

.thumbnailmsg {
	font-size: small;
	color: #800000;
}

.abbrev {
	color: #707070;
}

.highlight {
	background: #49525D;
	color: #FFFFFF;
	border: 2px dashed #FFFFFF;
}

#watchedthreads {
	background: #49525D !important;
}

.reflinkpreview {
	background: #49525D !important;
}

.userdelete table tr td {
	border: 1px solid #F9E0A8;
}

button {
	border: 1px solid #F9E0A8;
	background-color: #FFECB2;
}

input, textarea {
	background-color: #EEEEEE;
	border-top: 1px solid #49525D;
	border-bottom: 1px solid #B6C2CF;
	border-left: 1px solid #49525D;
	border-right: 1px solid #B6C2CF;
}

hr {
	border-style: solid none none none;
	border-width: 1px;
	border-color: #555;
}

.topmenu {
	border-bottom: 1px solid #BBBBBB;
	background: #6B7B8D;
}

.catalogsubject {
	color: #C3E8F3;
}

.catalogmsg {
	color: #FFFFFF;
}

.catalogposts {
	font-weight: 800;
	font-size: small;
}

.pgstbl table {
	border: 1px solid;
}

.pgstbl tr {
	border: 1px solid;
}

.thrdcntnr {
	border-bottom: 1px solid !important;
}

.post-badge {
	fill: #49525D;
	background: #EEEEEE;
}

.nav-btn,
.btn-small,
.post-btn {
	fill: #EEEEEE;
}

.nav-btn:hover,
.post-btn:hover,
.btn-small:hover {
	fill: #AFB9C5;
}

.quick-reply-form .replymode {
	background-color: #8C9FB4;
}

.quick-reply-form .post-badge:hover {
	fill: #EEEEEE;
}

.quick-reply-form.form-detached {
	border: 1px #B6C2CF dashed;
}

.quick-reply-form.form-detached .post-badge {
	fill: #EEEEEE;
}

.quick-reply-form.form-detached .post-badge:hover {
	fill: #49525D;
	background: #EEEEEE;
}

body.site-wrapper {
	font-family: "Trebuchet MS", serif;
	background: #6B7B8D;
	color: #fff;
}

.site-wrapper h2 {
	margin-top: 1em;
	background: #fca;
}

.site-wrapper h2 a {
	color: #AFB9C5;
}

.site-wrapper h1, .site-wrapper h3, .site-wrapper .menu {
	font-family: "Trebuchet MS", serif;
}

.site-wrapper h1 {
	color: #090E00;
}

.site-wrapper h3 {
	color: #090E00;
}

.site-wrapper .content {
	margin-left: 3em;
}

.site-wrapper .newssub {
	position: absolute;
}

.site-wrapper .permalink {
	display: block;
}

.site-wrapper .permalink a {
	color: red;
}

.sitemenu-wrapper a {
	color: #fff;
}

.sitemenu-wrapper h1, .sitemenu-wrapper h2 {
	background: #49525D;
	border-radius: 6px;
	text-align: center;
}

.sitemenu-wrapper h2 {
	font-size: 100%;
	margin-top: 1em;
}

.sitemenu-wrapper .plus {
	border-radius: 6px;
	background: #49525D;
	color: #fff;
}

.sitemenu-wrapper .plus:hover {
	background: #da8;
	border: 1px solid #c97;
}

.sitemenu-wrapper ul {
	padding-left: 2px;
}

.sitemenu-wrapper li {
	margin: 0px;
}

.sitemenu-wrapper li:hover {
	background: #9DA6B0;
}
