html, body {
	background: #EEF2FF;
	color: #000000;
}

a {
	background: inherit;
	color: #34345C;
}

a:visited {
	background: inherit;
	color: #34345C;
}

a:hover {
	color: #DD0000;
	background: inherit;
}

.adminbar {
	text-align: right;
	clear: both;
	float: right;
}

.logo {
	background: inherit;
	font-size: 24pt;
	color: #AF0A0F;
}

.replymode {
	background: #0010E0;
	color: #FFFFFF;
	width: 100%;
	text-align: center;
	padding: 2px;
}

.catalogmode {
	background: #0040E0;
	color: #FFFFFF;
	width: 100%;
	text-align: center;
	padding: 2px;
}

.postarea {
	border-top: 1px solid #B7C5D9 !important;
	border-bottom: 1px solid #B7C5D9 !important;
}

.rules {
	font-family: sans-serif;
}

.postblock {
	background: #9988EE;
	color: #000000;
	font-weight: 800;
}

.footer {
	text-align: center;
	font-size: 10px;
	font-family: sans-serif;
}

.passvalid {
	background: #9988EE;
	text-align: center;
	width: 100%;
	color: #ffffff;
}

.dellist {
	background: inherit;
}

.delbuttons {
	background: inherit;
}

.managehead {
	background: #0F8FE1;
	color: #000000;
	font-family: sans-serif;
	font-size: 14px;
}

.postlists {
	color: #000000;
}

.row1 {
	background: #9AD2F6;
	font-family: sans-serif;
	font-size: 12px;
	color: #000000;
}

.row2 {
	background: #FFFFFF;
	font-family: sans-serif;
	font-size: 12px;
	color: #000000;
}

.unkfunc {
	color: #789922;
}

.filesize {
	font-family: sans-serif;
}

.filetitle {
	font-size: 18px;
	font-family: serif;
	color: #0F0C5D;
	font-weight: 800;
}

.postername {
	font-family: serif;
	color: #117743;
	font-weight: 800;
}

.oldpost {
	background: inherit;
	font-size: 18px;
	font-family: serif;
	color: #0F0C5D;
	font-weight: 800;
}

.omittedposts {
	background: inherit;
	font-family: serif;
	color: #707070;
}

.reply {
	background: #D6DAF0;
	color: #000000;
	font-family: serif;
}

.replyhl {
	background: #D6BAD0;
	color: #000000;
}

.doubledash {
	vertical-align: top;
	clear: both;
	float: left;
}

.replytitle {
	background: inherit;
	font-size: 18px;
	font-family: serif;
	color: #0F0C5D;
	font-weight: 800;
}

.thumbnailmsg {
	background: inherit;
	font-size: 9px;
	font-family: sans-serif;
	color: #000000;
}

.watchedthreads {
	background-color: #D6DAF0 !important;
	border: 1px dotted #D6DAF0 !important;
	border-top: 0px none !important;
}

.reflinkpreview {
	background-color: #D6DAF0 !important;
}

input[type="text"], input[type="password"], textarea {
	border: 1px solid #AAA;
}

input[type=text]:focus, input[type=password]:focus, textarea:focus {
	border: 1px solid #9988EE;
}

.topmenu {
	border-bottom: 1px solid #D6DAF0;
	background: #EEF2FF;
}

.adminbar img {
	vertical-align: middle;
	border: 0;
}

.catalogsubject {
	color: #0F0C5D;
	font-family: serif;
}

.catalogmsg {
	color: #000000;
	font-family: serif;
}

.catalogposts {
	color: #000000;
	font-family: serif;
}

.cataloglist {
	border-bottom: 1px solid #B7C5D9 !important;
}

.thrdcntnr {
	border-bottom: 1px solid #B7C5D9 !important;
}

.unhidethread {
	border-bottom: 1px solid #B7C5D9 !important;
}

.pgstbl table {
	border: 1px solid #D6DAF0 !important;
}

.post-badge {
	fill: white;
	background: #133b5e;
}

.nav-btn,
.post-btn,
.btn-small {
	fill: #133b5e;
}

.nav-btn:hover,
.post-btn:hover,
.btn-small:hover {
	fill: #d60c0c;
}

.quick-reply-form .post-btn {
	fill: white;
}

.quick-reply-form .post-btn:hover {
	fill: #9988EE;
}

.quick-reply-form .post-badge {
	fill: #0010E0;
	background: white;
}

.quick-reply-form .post-badge:hover {
	fill: #9988EE;
}

.quick-reply-form.form-detached {
	border: 1px #B7C5D9 dashed;
}

.quick-reply-form.form-detached .post-badge {
	fill: #9988EE;
}

.quick-reply-form.form-detached .post-badge:hover {
	fill: #0010E0;
	background: white;
}

body.site-wrapper {
	font-family: sans-serif;
	background: #EEF2FF;
	color: #000;
}

.site-wrapper h2 {
	margin-top: 1em;
	background: #D6DAF0;
	border-bottom: 1px solid #bfc5db;
	padding: 2px;
}

.site-wrapper h2 a {
	color: #550;
}

.site-wrapper h1, .site-wrapper h3, .site-wrapper .menu {
	font-family: Verdana,Tahoma,sans-serif;
}

.site-wrapper h1 {
	color: #800;
}

.site-wrapper h3 {
	color: #800;
}

.site-wrapper .content {
	margin-left: 3em;
}

.site-wrapper .newssub {
	position: absolute;
}

.site-wrapper .permalink {
	display: block;
}

.site-wrapper .permalink a {
	color: blue;
}

.sitemenu-wrapper a {
	color: #34345C;
}

.sitemenu-wrapper h1, .sitemenu-wrapper h2 {
	background: #D6DAF0;
	text-align: left;
}

.sitemenu-wrapper h2 {
	font-size: 100%;
	margin-top: 1em;
}

.sitemenu-wrapper .plus {
	background: #c5c9e0;
	color: #000;
	border: 1px solid #b4b8d0;
}

.sitemenu-wrapper .plus:hover {
	background: #c5c9e0;
	border: 1px solid #c97;
}

.sitemenu-wrapper ul {
	padding-left: 0px;
}

.sitemenu-wrapper li {
	margin: 0px;
}

.sitemenu-wrapper li:hover {
	background: #C6DAF0;
}
