html, body {
	background: #FFFFEE;
	color: #800000;
}

a {
	color: #0000EE;
}

a:hover {
	color: #DD0000;
}

.reflink a:hover {
	font-weight: bold;
}

.adminbar {
	background: inherit;
}

.logo {
	font-size: 2em;
	color: #800000;
}

.replymode {
	background: #E04000;
	text-align: center;
	padding: 2px;
	color: #FFFFFF;
	width: 100%;
}

.catalogmode {
	background: #0040E0;
	text-align: center;
	padding: 2px;
	color: #FFFFFF;
	width: 100%;
}

.rules {
	font-family: sans-serif;
}

.postblock {
	background: #EEAA88;
	color: #800000;
	font-weight: 800;
}

.footer {
	font-family: serif;
}

.passvalid {
	background: #EEAA88;
	text-align: center;
	width: 100%;
	color: #ffffff;
}

.dellist {
	font-weight: bold;
}

.delbuttons {
	text-align: center;
	padding-bottom: 4px;
}

.managehead {
	background: #AAAA66;
	color: #400000;
}

.postlists {
	color: #800000;
}

.row1 {
	background: #EEEECC;
	color: #800000;
}

.row2 {
	background: #DDDDAA;
	color: #800000;
}

.unkfunc {
	background: inherit;
	color: #789922;
}

.filesize {
	font-family: sans-serif;
}

.filetitle {
	font-size: 1.2em;
	color: #CC1105;
	font-weight: 800;
}

.postername {
	color: #117743;
	font-weight: bold;
}

.postertrip {
	color: #228854;
}

.oldpost {
	color: #CC1105;
	font-weight: 800;
}

.omittedposts {
	color: #707070;
}

.reply {
	background: #F0E0D6;
	color: #800000;
}

.replyhl {
	background: #F0C0B0;
	color: #800000;
}

.doubledash {
	vertical-align: top;
	clear: both;
	float: left;
}

.replytitle {
	font-size: 1.2em;
	color: #CC1105;
	font-weight: 800;
}

.commentpostername {
	color: #117743;
	font-weight: 800;
}

.thumbnailmsg {
	font-size: small;
	color: #800000;
}

.abbrev {
	color: #707070;
}

.highlight {
	background: #F0E0D6;
	color: #800000;
	border: 2px dashed #EEAA88;
}

#watchedthreads {
	background-color: #F0E0D6 !important;
}

.reflinkpreview {
	background-color: #F0E0D6 !important;
}

input[type="text"], input[type="password"], textarea {
	border: 1px solid #AAA;
}

input[type=text]:focus, input[type=password]:focus, textarea:focus {
	border: 1px solid #EEAA88;
}

.topmenu {
	border-bottom: 1px solid #F0E0D6;
	background: #FFFFEE;
}

.adminbar img {
	vertical-align: middle;
	border: 0;
}

.catalogsubject {
	color: #CC1105;
}

.catalogmsg {
	color: #800000;
}

.catalogposts {
	color: #707070;
}

.cataloglist {
	border-bottom: 1px solid #D9BFB7 !important;
}

.thrdcntnr {
	border-bottom: 1px solid #D9BFB7 !important;
}

.postarea {
	border-top: 1px solid #D9BFB7 !important;
	border-bottom: 1px solid #D9BFB7 !important;
}

.unhidethread {
	border-bottom: 1px solid #D9BFB7 !important;
}

.pgstbl table {
	border: 1px solid #d9bfb7 !important;
}

.post-badge {
	fill: white;
	background: #133b5e;
}

.nav-btn,
.post-btn,
.btn-small {
	fill: #133b5e;
}

.nav-btn:hover,
.post-btn:hover,
.btn-small:hover {
	fill: #d60c0c;
}

.quick-reply-form .post-btn {
	fill: white;
}

.quick-reply-form .post-btn:hover {
	fill: #EEAA88;
}

.quick-reply-form .post-badge {
	fill: #E04000;
	background: white;
}

.quick-reply-form .post-badge:hover {
	fill: #EEAA88;
}

.quick-reply-form.form-detached {
	border: 1px #D9BFB7 dashed;
}

.quick-reply-form.form-detached .post-badge {
	fill: #EEAA88;
}

.quick-reply-form.form-detached .post-badge:hover {
	fill: #E04000;
	background: white;
}

body.site-wrapper {
	font-family: sans-serif;
	background: #ffe;
	color: #000;
}

.site-wrapper h2 {
	margin-top: 1em;
	background: #fca;
}

.site-wrapper h2 a {
	color: #550;
}

.site-wrapper h1, .site-wrapper h3, .site-wrapper .menu {
	font-family: Verdana,Tahoma,sans-serif;
}

.site-wrapper h1 {
	color: #800;
}

.site-wrapper h3 {
	color: #800;
}

.site-wrapper .content {
	margin-left: 3em;
}

.site-wrapper .newssub {
	position: absolute;
}

.site-wrapper .permalink {
	display: block;
}

.site-wrapper .permalink a {
	color: blue;
}

.sitemenu-wrapper a {
	color: #550;
}

.sitemenu-wrapper h1, .sitemenu-wrapper h2 {
	background: #fca;
	text-align: left;
}

.sitemenu-wrapper h2 {
	font-size: 100%;
	margin-top: 1em;
}

.sitemenu-wrapper .plus {
	background: #eb9;
	color: #000;
	border: 1px solid #da8;
}

.sitemenu-wrapper .plus:hover {
	background: #da8;
	border: 1px solid #c97;
}

.sitemenu-wrapper ul {
	padding-left: 0px;
}

.sitemenu-wrapper li {
	margin: 0px;
}

.sitemenu-wrapper li:hover {
	background: #fec;
}
