html, body {
	background: #EEFFEE;
	color: #000000;
}

a {
	background: inherit;
	color: #345C34;
}

a:visited {
	background: inherit;
	color: #345C34;
}

a:hover {
	color: #117743;
	background: inherit;
}

.adminbar {
	background: inherit;
}

.logo {
	background: inherit;
	font-size: 24pt;
	color: #117743;
}

.theader {
	background: #00E010;
	color: #FFFFFF;
	width: 100%;
}

.postarea {
	border-top: 1px solid #117743 !important;
	border-bottom: 1px solid #117743 !important;
}

.rules {
	font-family: sans-serif;
}

.postblock {
	background: #88DD88;
	color: #000000;
	font-weight: 800;
}

.footer {
	font-family: sans-serif;
}

.passvalid {
	background: #99EE88;
	text-align: center;
	width: 100%;
	color: #ffffff;
}

.dellist {
	background: inherit;
}

.delbuttons {
	background: inherit;
}

.managehead {
	background: #0FE18F;
	color: #000000;
	font-family: sans-serif;
	font-size: 14px;
}

.postlists {
	color: #000000;
}

.row1 {
	background: #9AF6D2;
	font-family: sans-serif;
	font-size: 12px;
	color: #000000;
}

.row2 {
	background: #FFFFFF;
	font-family: sans-serif;
	font-size: 12px;
	color: #000000;
}

.unkfunc {
	color: #117743;
}

.filesize {
	font-family: sans-serif;
}

.filetitle {
	font-size: 18px;
	font-family: serif;
	color: #0F5D0C;
	font-weight: 800;
}

.postername {
	background: inherit;
	font-family: serif;
	color: #117743;
	font-weight: bold;
}

.postername a {
	font-family: inherit;
}

.oldpost {
	background: inherit;
	font-size: 18px;
	font-family: serif;
	color: #0F5D0C;
	font-weight: 800;
}

.omittedposts {
	background: inherit;
	font-family: serif;
	color: #707070;
}

.reply {
	background: #DAF0D6;
	color: #000000;
	font-family: serif;
}

.doubledash {
	vertical-align: top;
	clear: both;
	float: left;
}

.replytitle {
	background: inherit;
	font-size: 18px;
	font-family: serif;
	color: #0F5D0C;
	font-weight: 800;
}

.commentpostername {
	background: inherit;
	font-size: 12px;
	font-family: serif;
	color: #117743;
	font-weight: 800;
}

.thumbnailmsg {
	background: inherit;
	font-size: 9px;
	font-family: sans-serif;
	color: #000000;
}

.highlight {
	background: #88DD88;
	border: 2px dashed #117743;
}

#watchedthreads {
	background-color: #DAF0D6 !important;
	border: 1px solid #88DD88 !important;
}

.replymode {
	background: #DAF0D6;
	text-align: center;
	padding: 2px;
	color: #000000;
	width: 100%;
	font-weight: bold;
}

.catalogmode {
	background: #88DD88;
	text-align: center;
	padding: 2px;
	color: #000000;
	width: 100%;
	font-weight: bold;
}

.hidethread {
	background: transparent url('./icons/green/icons.svg') -32px -16px no-repeat !important;
}

.unhidethread img {
	background: transparent url('./icons/green/icons.svg') -48px 0px no-repeat !important;
}

.watchthread {
	background: transparent url('./icons/green/icons.svg') -32px 0px no-repeat !important;
}

.expandthread {
	background: transparent url('./icons/green/icons.svg') 0px -16px no-repeat !important;
}

.quickreply {
	background: transparent url('./icons/green/icons.svg') 0px 0px no-repeat !important;
}

.hidewatchedthreads, .hidebutton {
	background: transparent url('./icons/green/icons.svg') -48px -16px no-repeat !important;
}

.refreshwatchedthreads {
	background: transparent url('./icons/green/icons.svg') -16px -16px no-repeat !important;
}

.restorewatchedthreads {
	background: transparent url('./icons/green/icons.svg') -16px 0px no-repeat !important;
}

.reflinkpreview {
	background-color: #DAF0D6 !important;
}

input[type="text"], input[type="password"], textarea {
	border: 1px solid #AAA;
}

input[type=text]:focus, input[type=password]:focus, textarea:focus {
	border: 1px solid #88DD88;
}

.topmenu {
	border-bottom: 1px solid #88DD88;
	background: #EEFFEE;
}

.adminbar img {
	vertical-align: middle;
	border: 0;
}

.navbar {
	padding: 5px;
}

.catalogsubject {
	color: #0F5D0C;
	font-family: serif;
}

.catalogmsg {
	color: #000000;
	font-family: serif;
}

.catalogposts {
	color: #070707;
	font-family: serif;
}

.unhidethread {
	border-bottom: 1px solid #117743 !important;
}

.cataloglist {
	border-bottom: 1px solid #117743 !important;
}

.thrdcntnr {
	border-bottom: 1px solid #117743 !important;
}

.pgstbl table {
	border: 1px solid #88DD88 !important;
}

.post-badge {
	fill: white;
	background: #345C34;
}

.nav-btn,
.btn-small,
.post-btn {
	fill: #345C34;
}

.nav-btn:hover,
.post-btn:hover,
.btn-small:hover {
	fill: #117743;
}

.quick-reply-form .replymode {
	background-color: #88DD88;
}

.quick-reply-form .post-badge:hover {
	fill: #EEFFEE;
}

.quick-reply-form.form-detached {
	border: 1px #117743 dashed;
}

.quick-reply-form.form-detached .post-badge {
	fill: #EEFFEE;
}

.quick-reply-form.form-detached .post-badge:hover {
	fill: white;
	background: #345C34;
}

body.site-wrapper {
	font-family: sans-serif;
	background: #EEFFEE;
	color: #000000;
}

.site-wrapper h2 {
	background: #DAF0D6;
	color: #117743;
}

.site-wrapper h2 a {
	color: #345C34;
}

.site-wrapper h1, .site-wrapper h3, .site-wrapper .menu {
	font-family: Verdana,Tahoma,sans-serif;
}

.site-wrapper h1 {
	margin: 0;
	text-align: center;
	margin-top: 1em;
}

.site-wrapper h3 {
	margin: 0;
	text-align: center;
	font-weight: normal;
	font-size: medium;
}

.site-wrapper .content {
	margin-left: 3em;
}

.site-wrapper .newssub {
	position: absolute;
}

.site-wrapper .permalink {
	display: block;
}

.site-wrapper .permalink a {
	color: blue;
}

.sitemenu-wrapper a {
	color: #550;
}

.sitemenu-wrapper h1, .sitemenu-wrapper h2 {
	background: #DAF0D6;
	text-align: left;
}

.sitemenu-wrapper h2 {
	font-size: 100%;
	margin-top: 1em;
}

.sitemenu-wrapper .plus {
	background: #88DD88;
	color: #000;
	border: 1px solid #117743;
}

.sitemenu-wrapper .plus:hover {
	background: #da8;
	border: 1px solid #c97;
}

.sitemenu-wrapper ul {
	padding-left: 0px;
}

.sitemenu-wrapper li {
	margin: 0px;
}

.sitemenu-wrapper li:hover {
	background: #DAF0D6;
}
